<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="home register">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            @Html.ActionLink("Studizie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarToggler">
                <ul class="navbar-nav">
                    <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("About Us", "About", "Home", null, new { @class="nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class="nav-link"})</li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link"})</li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
